body{
  color:#404040;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 500;
  background-color: #efefef;
}

h2{
  color:#000;
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

h3{
  color:#000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;  
}

a {
  text-decoration: none;
  color: #000;
}
.wrapper{
  width: 980px;
  margin: 0 auto;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
header{
  width: 100%;
  background: radial-gradient(#fbe237, #ef9f13, #ffb60f);
}

.header-logo {
  width: 182px;
  height: 82px;
  background-image: url(../img/logotype-header.png);
  background-repeat: no-repeat;
  float: left;
  margin-top: 67px;
  margin-bottom: 121px;
}

.header-menu{
  float: right;
  font-size: 0;
  margin-top: 95px;
  margin-right: 46px;
}
.header-menu li{
  display: inline-block;
  font-size: 18px;
  margin-right: 42px;
}

.header-image {
  background-image: url(../img/item-header.png);
  background-position: 145% 0;
  background-repeat: no-repeat;
  height: 500px;
}

.header-content {
  width: 446px;
}

.header-content h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header-content p {
  padding-bottom: 25px;
}

.btn {
  display: block;
  color: #fff;
  text-transform: uppercase;
  background-color: #00b770;
  width: 300px;
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
}

.under-header-column {
  width: 300px;
  float: left;
  margin-right: 40px;
  margin-bottom: 60px;
}

.under-header-column:last-child {
  margin-right: 0;
}

.under-header h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.icon-adv {
  width: 100px;
  height: 100px;
  background-color: #3366cc;
  z-index: 100;
  margin-top: -40px;
}

.icon-adv-triangle {
  background-color: transparent;
  width: 0px;
  height: 0px;
  border-right: 10px transparent solid;
  border-top: 10px #3366cc solid;
}
.icon-adv-1 {
  background-image: url(../img/icon-adv-1.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-adv-2 {
  background-image: url(../img/icon-adv-2.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon-adv-3 {
  background-image: url(../img/icon-adv-3.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.review {
  background-color: #fff;
}

.review-header{
  padding-top: 90px;  
  padding-bottom: 60px;
}

.review-header h2 {
  width: 520px;
  float: left;
}

.review-header .show-all {
  float: right;
  text-transform: uppercase;
}

.show-all span {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 700;
}

.dots {
  display: inline-block;
  border-radius: 50%;
  border: 3px #00b770 solid;
  margin-right: 10px;
  vertical-align: middle;
}
.dots:last-child{
  margin-right: 0px;
}
.review-box div {
  display: inline-block;
}

.portrait {
  width: 135px; 
  height: 135px;
  background-image: url(../img/portrait.png);
  background-repeat: no-repeat;
  margin-right: 35px;
}

.name-review {
  width: 130px;  
}

.content-review {
  width: 630px;  
}

.qoutes-open {
  width: 30px; 
  height: 30px;
  background-image: url(../img/quotes-open.png);
  background-repeat: no-repeat;
}

.qoutes-close {
  width: 30px; 
  height: 30px;
  background-image: url(../img/qoutes-close.png);
  background-repeat: no-repeat;
}

.contact-form {
  width: 640px;
  float: left;
  box-sizing: border-box;
}

.form-label {
  float: left;
  margin-right: 28px;
}

.form-label label {
  display: block;
  width: 90px;
  text-align: right;  
}

.form-input {
  float: left;
}

.contact-information {
  width: 300px;
  float: left;
}

footer {
  background-color: #1f2022;
}

.footer-left {
  width: 300px;
  float: left;
}

.footer-logo {
  width: 182px;
  height: 82px;
  background-image: url(../img/logotype-footer.png);
  background-repeat: no-repeat;  
}

.footer-right {
  float: right;
  width: 640px;
}

.footer-menu nav{
  float: left;
}


.social-btn a{
  display: inline-block;
  width: 36px;
  height: 36px;
}

.footer-right-bottom p{
  float: left;
}
.social-btn {
  float: right;
}
.social-btn-vk {
  background-image: url(../img/vk-logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-btn-fb {
  background-image: url(../img/fb-logo.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-btn-tw {
  background-image: url(../img/twitter-logo-.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}